@import '../../assets/styles/colors';

.law-help-block {
  width: 100%;
  // height: 754px;
  background: $blue-lite-color-bg-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 150px;
}

.law-help-block-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
  margin-left: 100px;
  margin-right: 100px;

  @media screen and (max-width: 480px) {
    margin: 0
  }
}

.law-help-block-content-title {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  .text {
    color: $white;
  }

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;
  }
}

.main-block-item {
  // box-shadow: 0 4px 5px -1px rgba(78, 107, 109, 0.5), inset 0 2px 0 0 rgba(78, 107, 109, 0.2);
  //top: 50px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1190px) {
    flex-direction: column;
  }
  //color: #ffffff;
  //border-radius: 10px;
  //position: sticky;
}

.scroll-block {
  position: sticky;
  top: 100px;
}

.speech-dialog-block {
  // height: 100px;
  width: 400px;
  height: 400px;
  border: none;
  background: #ffffff;
  position: sticky;
  top: 100px;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  font-family: 'GoznakBold', sans-serif;
  margin-bottom: 40px;
}

.person-photo-block {
  // height: 100px;
  width: 400px;
  height: 200px;
  border: none;
  position: sticky;
  top: 290px;
  border-radius: 15px;
  padding: 30px 30px 30px 30px;
  font-family: 'GoznakBold', sans-serif;
}

.text-speech {
  color: rgba(34,30,42,1);
  top: 100px;
  position: sticky;
}

//.speech-dialog-block:before {
//  content: "";
//  position: absolute;
//  top: 100%;
//  left: 40px;
//  width: 0;
//  border-top: 20px solid #ffffff;
//  border-left: 20px solid transparent;
//  border-right: 20px solid transparent;
//}
