label{
  display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height: 4px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

  @media screen and (max-width: 480px) {
    margin: 2px 0;
  }
}

span:nth-of-type(1){
  width:50%;
}

span:nth-of-type(2){
  width:100%;
}

span:nth-of-type(3){
  width:75%;

}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(11px, -5px) rotatez(45deg);
}