@import '../../assets/styles/colors';

.about-me-block {
  width: 100%;
  // height: 754px;
  background: $blue-dark-color-bg;
  background: $blue-dark-color-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;
  padding-bottom: 150px;

  @media screen and (max-width: 480px) {
    border-radius: 15px 15px 0 0;
  }
}

.about-me-block-content {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
}

.about-me-block-content-title {
  color: $white;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;

    @media screen and (max-width: 480px) {
      background-color: cyan;
    }
  }
}

.about-me-block-content-sub-title {
  color: $white;
  width: 100%;
  margin-top: 100px;
  font-family: 'GoznakBold', sans-serif;

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;

    @media screen and (max-width: 480px) {
      background-color: cyan;
    }
  }
}

.about-me-block-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-left: 30px;

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
    width: 300px;
  }
}

.person-photo-about-me {
  border-radius: 10px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}


.about-me-block-description {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.about-me-block-description-title {
  font-size: 24px;
  margin: 0;
  color: #e0e0e0;
  font-family: 'GoznakBold', sans-serif;
}

.about-me-block-description-list {
  font-size: 15px;
  margin: 15px 0;
  color: #e0e0e0;
  font-style: normal;
  font-family: 'GoznakBold', sans-serif;
  font-weight: 500;

  @media screen and (max-width: 1340px) {
    font-size: 13px;
    font-weight: 300;
  }
}

.about-me-block-lines {
  height: 100%;
  margin-top: 100px;
  margin-left: 160px;
  margin-right: 160px;

  @media screen and (max-width: 1340px) {
    margin-left: 80px;
    margin-right: 80px;
  }

  @media screen and (max-width: 480px) {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }
}

.icon-change-color-base {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(104%) contrast(104%);
}

.card-info-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 90px;
  font-family: 'GoznakBold', sans-serif;
  width: auto;
  color: white;
  height: 40px;
  border-radius: 10px;
  border: 1px #e0e0e0 solid;

  @media screen and (max-width: 1460px) {
    padding: 10px 60px;
  }

  @media screen and (max-width: 1400px) {
    padding: 10px 50px;
  }

  @media screen and (max-width: 1400px) {
    padding: 10px 30px;
  }

  @media screen and (max-width: 1340px) {
    padding: 10px 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 10px 10px;
    font-size: 14px;
  }
}

#hover-style {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#hover-style::before,
#hover-style::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
#hover-style::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
#hover-style::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

#hover-style:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#hover-style:hover::after {
  transform: translate3d(0, 0, 0);
}

#hover-style span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#hover-style:hover span {
  transform: translate3d(-200%, 0, 0);
}