@import '../../assets/styles/colors';

.cards-scroll {
  padding: 0 20px;
  font-family: 'GoznakBold', sans-serif;
  display: flex;
  flex-flow: column;

  @media screen and (max-width: 480px) {
    width: 300px;
  }

  .card {
    overflow: hidden;
    height: 432px;
    max-width: 719px;
    text-align: center;
    background: $blue-dark-color-gradient;
    // box-shadow: 0 4px 5px -1px rgba(78, 107, 109, 0.5), inset 0 2px 0 0 rgba(78, 107, 109, 0.2);
    top: 100px;
    margin-bottom: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px #ffffff solid;
    position: sticky;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 480px) {
      width: 390px;
    }

    &__header {
      background: $blue-dark-color-gradient;
      width: 100%;
      font-size: 18px;
      min-height: 40px;
      padding: 8px 20px 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 480px) {
        width: auto;
        padding: 8px 17px 0 18px;
      }
      h2 {
        font-size: 1em;
      }
    }
    &__body {
      display: grid;
      overflow: hidden;
      height: 355px;
      padding-bottom: 75px;
    }
    &__content {
      text-align: left;
      display: flex;
      font-size: 18px;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 1em;
      p {
        font-size: 0.87em;
        line-height: 1.3;
        font-weight: 500;
      }
    }
  }
}
