@import '../../assets/styles/colors';
$accentColor: #ffffff;

.success-cases-block {
  width: 100%;
  // height: 754px;
  background: $blue-dark-color-bg;
  background: $blue-dark-color-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;
  padding-bottom: 150px;
}

.success-cases-block-content {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
  margin-left: 160px;

  @media screen and (max-width: 480px) {
    margin: 0;
    width: 100%;
  }
}

.success-cases-block-content-title {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  @media screen and (max-width: 480px) {
    width: 300px;
    padding-left: 30px;
  }

  .text {
    color: $white;
  }

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;
  }
}

.success-cases-blocks-section {
  width: auto;
  max-width: calc(100% - 260px);
  margin: 2rem;

  &__text {
    font-size: 1.15rem;
  }

  &--background {
    position: relative;
    background: $blue-dark-color-gradient;
    color: $white;
    padding: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: -1rem;
      display: block;
      background-color: $blue-dark-color-gradient;
      background-image: linear-gradient(45deg, transparent 49%,
              $accentColor 50%, transparent 51%);
      background-size: 5px 5px;
      right: -1rem;
      bottom: -1rem;
      z-index: -1;
    }
  }
}

ol {
  list-style: none;
  padding: 0;
}

.success-cases-li + .success-cases-li {
  margin-top: 1rem;
}

.success-cases-li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: $blue-lite-color-bg-gradient;
  padding: 1.5rem;
  font-family: 'GoznakBold', sans-serif;
  color: $white;
  border: 1px #ffffff solid;
  border-radius: 1rem;
  width: calc(100% - 160px);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.success-cases-li::before {
  font-family: 'GoznakBold', sans-serif;
  counter-increment: list-item;
  content: counter(list-item);
  font-size: 3rem;
  font-weight: 700;
  width: 2em;
  height: 2em;
  background: black;
  flex: 0 0 auto;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-cases-li:nth-child(even) {
  flex-direction: row-reverse;
  border: 1px #ffffff solid;
  font-family: 'GoznakBold', sans-serif;
  color: $white;
  background: $blue-dark-color-gradient;
  margin-right: -2rem;
  margin-left: 2rem;
}

.success-cases-block-timeline {
  display: none;

  @media screen and (max-width: 480px) {
    width: 300px;
    display: flex;
    margin-left: 20px;
  }
}