@import '../../assets/styles/colors';

.contacts-block {
  width: 100%;
  background: $blue-dark-color-bg;
  background: $blue-dark-color-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;
}

.contacts-block-content {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
  margin-left: 160px;

  @media screen and (max-width: 480px) {
    margin: 0
  }
}

.contacts-block-content-buttons-block-1 {
  display: flex;
  flex-direction: column;
}

.contacts-block-content-buttons-block-2 {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.contacts-block-content-buttons-block-3 {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.contacts-block-content-buttons-block {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 480px) {
    margin: 0;
    flex-direction: column;
  }
}

.contacts-block-content-buttons-block-1 {

}

.button-contacts-main {
  width: 250px;
  height: 60px;
  padding: 10px;
  background: $blue-dark-color-bg;
  color: white;
  margin-bottom: 30px;
  margin-left: 30px;
}

.button-contacts-main:hover {
  width: 250px;
  height: 60px;
  padding: 10px;
  background: $blue-dark-color-bg;
  color: $blue-lite-color-bg-gradient;
  border: 2px solid $blue-lite-color-bg-gradient;
}

.contacts-block-content-title {
  color: $white;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;
  }
}