@import '../../assets/styles/colors';

.contacts-block {
  width: 100%;
  background: $blue-dark-color-bg;
  background: $blue-dark-color-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;

  @media screen and (max-width: 480px) {
    border-radius: 15px 15px 0 0;
  }
}

.contacts-block-content {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
  margin-left: 160px;

  @media screen and (max-width: 480px) {
    margin: 0
  }
}

.contacts-block-content-buttons-block-1 {
  display: flex;
  flex-direction: column;
}

.contacts-block-content-buttons-block-2 {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.contacts-block-content-buttons-block-3 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.contacts-block-content-buttons-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  @media screen and (max-width: 480px) {
    margin: 0;
    height: auto;
    flex-direction: column;
  }
}

.contacts-block-content-buttons-block-1 {
  align-items: flex-start;
}

.contacts-block-content-buttons-block-2 {
  align-items: flex-start;
  //height: 362px
}

.contacts-block-content-buttons-block-3 {
  align-items: flex-start;
  //height: 362px
}

.button-contacts-main {
  width: 250px;
  height: 60px;
  padding: 10px;
  background: rgb(27, 24, 35);
  color: white;
  margin-bottom: 25px;
  margin-left: 30px;
}

.button-contacts-main:hover {
  width: 250px;
  height: 60px;
  padding: 10px;
  background: $blue-dark-color-bg;
  color: $blue-lite-color-bg-gradient;
  border: 2px solid $blue-lite-color-bg-gradient;
}

.contacts-block-content-title {
  color: $white;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;

    @media screen and (max-width: 480px) {
      margin-left: 30px;
      background-color: cyan;
    }
  }
}

.contact-block-attentions {
  color: #fff;
  margin: 11px 0 30px 32px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 680px;
}

.vk-qr-block {

}

.contacts-block-item-secondary {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}