@import '../../assets/styles/colors';

.about-me-media-block {
  width: 100%;
  background: $blue-lite-color-bg-gradient;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;

  @media screen and (max-width: 480px) {
    border-radius: 15px 15px 0 0;
  }
}

.about-me-media-block-content {
  display: flex;
  width: auto;
  align-items: flex-start;
  flex-direction: column;
  // padding: 20px 160px 20px 160px;
  margin-left: 160px;

  @media screen and (max-width: 480px) {
    margin: 0
  }
}

.about-me-media-block-content-title {
  color: $white;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
  font-family: 'GoznakBold', sans-serif;

  .line {
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: $white;
  }
}

.about-me-media-block-main-context {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    margin-left: 10px;
  }
}

.line-link {
  max-width: 700px;
  height: 2px;
  background: $blue-dark-color-gradient;

  @media (max-width: 480px) {
    max-width: calc(100% - 10px);
  }
}

.about-me-media-block-main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;

  .title {
    font-family: 'GoznakBold', sans-serif;
    margin: 3px 0;
    font-size: 16px;
    color: $white;

    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }

  .description {
    font-family: 'GoznakBold', sans-serif;
    margin: 3px 0;
    font-size: 12px;
    color: $white;

    @media screen and (max-width: 480px) {
      font-size: 10px;
    }
  }
}

.person-photo-about-me {
  border-radius: 10px;
  margin-right: 30px;

  @media screen and (max-width: 480px) {
    border-radius: 10px;
    margin-right: 0;
    width: 100%;
  }
}

.styled-wrapper .button {
  display: block;
  position: relative;
  width: 76px;
  height: 76px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.styled-wrapper .button:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 3px solid $blue-dark-color-gradient;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.about-me-media-photo {
  display: flex;

  @media screen and (max-width: 1430px) {
    display: none;
  }
}

.styled-wrapper .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 4px solid $white;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.styled-wrapper .button:hover:before,
.styled-wrapper .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.styled-wrapper .button:hover:after,
.styled-wrapper .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.styled-wrapper .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.styled-wrapper .button-elem {
  display: block;
  width: 30px;
  height: 30px;
  margin: 24px 18px 0 22px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.styled-wrapper .button:hover .button-box,
.styled-wrapper .button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-69px);
}

.block-with-posts {
  margin-left: 160px;
  margin-right: 160px;

  @media screen and (max-width: 480px) {
    margin: 0;
  }
}