$blue-lite-color-bg-gradient: linear-gradient(90deg, rgba(83,133,150,1) 0%, rgba(107,157,173,1) 49%, rgb(116, 158, 170) 100%);
$blue-dark-color-bg: rgb(27,24,35);
$blue-lite-color: #6898A8FF;
$blue-dark-color-gradient: radial-gradient(circle, rgba(27,24,35,1) 0%, rgba(34,30,42,1) 57%, rgba(40,35,53,1) 100%);

$white: #fff;