@import './../../assets/styles/colors.scss';

.ant-anchor-blur {
  backdrop-filter: blur(8px);
}

.ant-anchor-font {
  font-family: 'GoznakBold', sans-serif;
}

.desktop_main_menu {
  color: #ffffff;
  background: linear-gradient(90deg, rgba(83,133,150,1) 0%, rgba(107,157,173,1) 49%, rgba(104,152,168,1) 100%);

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.main-page-menu-icon-mobile {
  position: fixed;
  top: 45px;
  right: 45px;
  background-color: #54b3d6;
  width: 40px;
  height: 40px;
  z-index: 1001;
  color: #fff;
  font-size: 28px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 7px 7px 7px 5px;
  border: 1px solid #ffffff;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &-small {
    position: fixed;
    z-index: 1002;
    top: 10px;
    right: 300px;
    background-color: #54b3d6;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 28px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 7px 7px 7px 5px;
    border: 1px solid #ffffff;
  }
}